$primary-color: #FFCC00;
$white-color: #FFFFFF;
$secondary-color: #000000;
$text-color: #333; // Define your text color
$card-color: #f5f5f5; // Define your background color
$border-color: #ddd; // Define your border color
$link-color: #007bff; // Define your link color
$link-hover-color: darken($link-color, 15%); // Define your link hover color

//border-radius small
$border-radius-small: 5px;
//border-radius medium
$border-radius-medium: 10px;
//border-radius large
$border-radius-large: 15px;

