@import "_variables";

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSansWeb.eot');
	src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb.woff2') format('woff2'),
		 url('../fonts/IRANSansWeb.woff') format('woff'),
		 url('../fonts/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans-bold;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANSansWeb_Bold.eot');
	src: url('../fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb_Bold.woff2') format('woff2'),
		 url('../fonts/IRANSansWeb_Bold.woff') format('woff'),
		 url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans-num;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSansWeb(FaNum).eot');
	src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
		 url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
		 url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
	font-family: IRANSans-num-b;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
		 url('../fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
		 url('../fonts/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
:root{
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --black-color: #{$black-color};
    --card-color: #{$card-color};
    --link-color: #{$link-color};
    --link-hover-color: #{$link-hover-color};
    --border-color: #{$border-color};
    --white-color: #{$white-color};
	--light-color: #{$light-color};
    --border-radius-small: #{$border-radius-small};
	--sa-btn-padding: #{$sa-btn-padding};
	--sa-font-weight-strong: #{$sa-font-weight-strong};
	--sa-font-size-stronge: #{$sa-font-size-stronge};
	--sa-font-size-paragraphe: #{$sa-font-size-paragraphe};
	--sa-font-size-1: #{$sa-font-size-1};
	--sa-font-size-1-5: #{$sa-font-size-1-5};
	--sa-font-size-2: #{$sa-font-size-2};
	--sa-sec-padding: #{$sa-sec-padding};
	--sa-p-1: #{$sa-p-1};
	--sa-p-1-5: #{$sa-p-1-5};
	--sa-p-2: #{$sa-p-2};
	--sa-p-2-5: #{$sa-p-2-5};
	--sa-p-3: #{$sa-p-3};
	--sa-p-3-5: #{$sa-p-3-5};
	--sa-p-4: #{$sa-p-4};
	--sa-p-4-5: #{$sa-p-4-5};
	--sa-p-5: #{$sa-p-5};

}
* { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
} 

html, 
body { 
    max-width: 100vw; 
    overflow-x: hidden; 
    direction: rtl;
} 

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p { 
font-family: "IRANSans-num-b", sans-serif; 
margin:0;
line-height: 2;
} 

h1 { 
font-size: 2rem; 
font-weight: 600; 
} 

h2 { 
font-size: 1.85rem; 
font-weight: 600; 
} 

h3 { 
font-size: 1.7rem; 
font-weight: 600; 
} 

h4 { 
font-size: 1.5rem; 
font-weight: 600; 
} 

h5 { 
font-size: 1.25rem; 
font-weight: 600; 
} 

h6 {
font-size: 1rem; 
font-weight: 600; 
}

a { 
color: inherit; 
text-decoration: none; 
}

ul, li{
	list-style: none;
}

img{
	width: 100%;
}

//========== CUSTOME DISIGN ==========

body{
    background: var(--white-color);
    color: var(--black-color);
    font-family: IRANSans, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    direction: rtl;

}
.saei-btn{
	background-color: var(--primary-color);
	color: var(--black-color);
	padding: var(--sa-btn-padding);
	border: none;
}
.saei-btn.sa-revers{
	background-color: var(--black-color);
	color: var(--primary-color);
	padding: var(--sa-btn-padding);
	border: none;
}
.sec-padding{
	padding: var(--sa-sec-padding);
}


//============= HEADER ===============
.header{
	height: 70px;
}
.header {
	#navbarNav{
		justify-content: flex-end;
	}
}
.header{
	.navbar-brand{
		margin-right: 0;
	}
}
.header{
	.sa-logo{
		width: 100px;
	}
}
.header{
	.navbar{
		.nav-item{
			.nav-link{
				font-weight: var(--sa-font-weight-strong);
				color: var(--black-color);
			}
		}
	}
}

//============= MAIN ===============

//== 1. ABOUT US ==
.about-us{
	.sa-banner{
		background-image: url("../img/palceholder.webp");
		background-size: inherit;
		background-repeat: no-repeat;
		background-position: right;
		height: calc(100vh - 130px);
	}
}
.sa-banner{
	position: relative;
}
.sa-b-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: var(--sa-p-2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sa-b-content{
	h2{
		font-size: var(--sa-font-size-stronge);
		font-weight: var(--sa-font-weight-strong);
	}
	p{
		font-size: var(--sa-font-size-paragraphe)
	}
}
.about-us-plus{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    background: var(--primary-color);
}
.about-us-plus{
	.aup-title{
		display: flex;
		align-items: center;
	}
}

.about-us-plus{
	.aup-title{
		.aup-title-text {
			margin: 0;
		}
	}
}

//== 2. SERVICES ==
.sa-s-c-top{
	margin-bottom: 2rem;
}
.sa-s-content{
	padding: 1.5rem 0;;
}
.sa-s-c-t-text{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.sa-s-c-b-text{
    display: flex;
    justify-content: flex-end;
}
.sa-s-c-t-text,
.sa-s-c-b-text{
	p{
		width: 80%;
		font-size: var(--sa-font-size-1);
		font-weight: var(--sa-font-weight-strong);
	}
}

//== 3. OUR TEAM ==
.sa-team-banner{
	padding: var(--sa-p-5);
    background-image: url(../img/our-team.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    border-bottom: 20px solid var(--primary-color);
}
.sa-team-banner{
	.wrapper{
		width: 100%;
	}
}
.sa-t-c-title{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}
.sa-t-c-card{
    min-height: 100%;
    background: var(--light-color);
    padding: var(--sa-p-1-5);
}

//== 4. DIGITAAL TRANSFORM ==
.sa-digital-transform{
	.wrapper{
		width: 75%;
		margin: auto;
	}
}

.sa-dtc-item{
	.sa-dtci-description{
		width: 70%;
		display: flex;
		align-items: center;
	}
	.sa-dtci-img{
		width: 20%;
	}
}
.sa-dt-btn{
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}


//============= FOOTER ===============
.footer{
	background: var(--black-color);
}

.footer-menu {
	.footer-menu-title {
		font-weight: var(--sa-font-weight-strong);
	}
	.footer-menu-item{
		color: var(--white-color);
	}
}
.footer-content{
	position: relative;
    padding: 3rem 0 0 3rem;
    border-left: 2px solid #ffcc00;
    border-top: 2px solid #ffcc00;
    border-radius: 10px 0 0 0;
}
.footer-contact-info{
	ul{
		li{
			color: var(--white-color)
		}
	}
}
.footer-contact-info{
	ul{
		li{
			i{
				color: var(--primary-color)
			}
		}
	}
}
.link-call-info{
	display: inline-flex;
	direction: ltr;
}
.sa-footer-social{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -34px;
    bottom: 0px;
    color: var(--primary-color);
    padding: var(--sa-p-1-5);
    background: var(--black-color);
}
.sa-footer-social{
	a{
		color: var(--primary-color);
		font-size: var(--sa-font-size-1-5);
	}
}

